<?xml version="1.0" ?>
<config>
    <modules>
        <Liip_Shared>
            <version>0.1.0</version>
        </Liip_Shared>
    </modules>

    <global>
        <models>
            <liip>
                <class>Liip_Shared_Model</class>
            </liip>
            <core>
                <rewrite>
                    <store>Liip_Shared_Model_Core_Store</store>
                </rewrite>
            </core>
        </models>

        <resources>
            <liip_setup>
                <setup>
                    <module>Liip_Shared</module>
                    <class>Liip_Shared_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </liip_setup>
        </resources>

        <blocks>
            <liip>
                <class>Liip_Shared_Block</class>
            </liip>
        </blocks>

        <helpers>
            <liip>
                <class>Liip_Shared_Helper</class>
            </liip>
        </helpers>

        <events>
            <catelogsearch_searchable_attributes_load_after>
                <observers>
                    <enterprise_search>
                        <class>enterprise_search/observer</class>
                        <method>storeSearchableAttributes</method>
                    </enterprise_search>
                </observers>
            </catelogsearch_searchable_attributes_load_after>
        </events>
    </global>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <liip>
                                            <title>Liip Configuration</title>
                                        </liip>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Liip_Shared>
                    <files>
                        <default>Liip_Shared.csv</default>
                    </files>
                </Liip_Shared>
            </modules>
        </translate>

        <events>
            <!-- This was moved to global otherwise reindexing
                 from cli will not index custom attributes -->
            <catelogsearch_searchable_attributes_load_after>
                <observers>
                    <enterprise_search>
                        <type>disabled</type>
                    </enterprise_search>
                </observers>
            </catelogsearch_searchable_attributes_load_after>
        </events>
    </adminhtml>

    <frontend>
        <translate>
            <modules>
                <Liip_Shared>
                    <files>
                        <default>Liip_Shared.csv</default>
                    </files>
                </Liip_Shared>
            </modules>
        </translate>
    </frontend>

    <default>
        <liip>
            <connection>
                <proxy></proxy>
            </connection>
        </liip>
    </default>

</config>

