<?xml version="1.0"?>
<config>
    <tabs>
        <liip translate="label" module="liip">
            <label>Liip</label>
            <sort_order>100</sort_order>
        </liip>
    </tabs>
    <sections>
        <liip translate="label" module="liip">
            <label>General</label>
            <tab>liip</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <connection translate="label">
                    <label>Connection</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <proxy translate="label">
                            <label>Proxy</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Proxy server für outgoing connections</comment>
                        </proxy>
                    </fields>
                </connection>
            </groups>
        </liip>
    </sections>
</config>
